<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website_Movie_Castle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website_Movie_Castle.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light bg-red border-bottom border-left border-top border-right border-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Movie Castle</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Films">Films</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Aboutus">About us</a>
                    </ul>
                </div>
            </div>
        </nav>
            <div id="cookies">
                <div class="containercookie">
                    <div class="subcontainer">
                        <div class="cookies">
                            <p>Deze website maakt gebruik van cookies voor uw beste ervaring <button id="cookies-button">Accepteer</button> </p>
                        </div>
                    </div>
                </div>

            </div>

            <script>
                setCookie = (cName, cValue, expDays) => {
                    let date = new Date();
                    date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
                    const expires = "expires=" + date.toUTCString();
                    document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
                }

                getCookie = (cName) => {
                    const name = cName + "=";
                    const cDecoded = decodeURIComponent(document.cookie);
                    const cArr = cDecoded.split("; ");
                    let value;
                    cArr.forEach(val => {
                        if (val.indexOf(name) === 0) value = val.substring(name.length);
                    })

                    return value;
                }

                document.querySelector("#cookies-button").addEventListener("click", () => {
                    document.querySelector("#cookies").style.display = "none";
                    setCookie("cookie", true, 1);
                })

                cookieMessage = () => {
                    if (!getCookie("cookie"))
                        document.querySelector("#cookies").style.display = "block";
                }

                window.addEventListener("load", cookieMessage);
            </script>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
