@{
    ViewData["Title"] = "About us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>

    <p>Wij zijn bioscoop Movie Castle in Vlissingen.

        Bij ons kunt u de leukste en nieuwste films kijken voor een lage prijs</a>.</p>
</div>
