@{
    ViewData["Title"] = "Contact";
}   

<h1>@ViewData["Title"]</h1>

<p>Contactpagina!</p>


<div  clas='container'>
  <form action="action_page.php">

    <label for="vnaam">Voornaam</label>
    <input type="text" id="vnaaam" name="voormaan" placeholder="Uw voornaam...">

    <label for="anaam">Achternaam</label>
    <input type="text" id="anaam" name="achternaam" placeholder="Uw achternaam...">

    <label for="reden">Reden van Contact</label>
    <select id="reden" name="Reden">
      <option value="vraag">Vraag</option>
      <option value="soliciteren">Soliciteren</option>
      <option value="opmerking">Opmerking</option>
      <option value="feedback">Feedback</option>
    </select>

    <label for="onderwerp">Onderwerp</label>
    <input type="text" id="onderwerp" name="Onderwerp" placeholder="Onderwerp...">

    <label for="">Onderwerp</label>
    <textarea id="informatie" name="Informatie" placeholder="Typ hier uw vraag, opmerking, solicitatieverzoek of feedback..." style="height:200px"></textarea>

    <input type="submit" value="Verzend">

  </form>
</div>