@{
    ViewData["Title"] = "Contact";
}   

<h1>@ViewData["Title"]</h1>

<text2>Welkom bij de contactpagina, vul onderstaand formulier in om in contact te komen met onze ervaren werknemers.</text2>


<div  clas='container'>
  <form action="action_page.php">

    <label for="vnaam">Voornaam</label>
    <input type="text" id="vnaaam" name="voormaan" placeholder="Uw voornaam..." required>

    <label for="anaam">Achternaam</label>
    <input type="text" id="anaam" name="achternaam" placeholder="Uw achternaam..." required>
    
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Uw e-mailadres..." required>

    <label for="reden">Reden van Contact</label>
    <select id="reden" name="Reden">
      <option value="vraag">Vraag</option>
      <option value="solliciteren">Solliciteren</option>
      <option value="opmerking">Opmerking</option>
      <option value="feedback">Feedback</option>
    </select>

    <label for="onderwerp">Onderwerp</label>
    <input type="text" id="onderwerp" name="Onderwerp" placeholder="Onderwerp..." required>

    <label for="">Bericht</label>
    <textarea id="informatie" name="Bericht" placeholder="Typ hier uw vraag, opmerking, solicitatieverzoek of feedback..." style="height:150px" required ></textarea>

    <input type="submit" value="Verzend">

  </form>
</div>