@model List<string>

@{
    ViewData["Title"] = "Home Page";
}

<p>Welkom bij de website van Movie Castle - dé bioscoop van Vlissingen!</p>

<style>
.container {
    position: relative;
    width: 950px;
    height: 500px;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    transition: transform 0.8s ease;
}

.image1 {
    left: 50px;
}

.image2 {
    left: 350px;
}

.image3 {
    left: 650px;
}

.image4 {
    left: -250px;
}

.image5 {
    left: 950px;
}

.move-left {
    position: absolute;
    top: 220px;
    left: 900px;
}

body{ 
    background-image: url('https://www.hollandfilmnieuws.nl/files/bioscoopzaal-foto-wong-zihoo-via-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
}

.move-aside {
    position: absolute;
    top: 220px;
    left: 50px;
}

    </style >
<body>
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Avengers_endgame"><img class="image image1" src="https://th.bing.com/th/id/OIP.KNfIqaD92jvecpbxNWWQ4wAAAA?pid=ImgDet&rs=1" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Puss_In_Boots"><img class="image image2" src="https://www.themoviedb.org/t/p/w500/1NqwE6LP9IEdOZ57NCT51ftHtWT.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Avatar_Way_of_Water"><img class="image image3" src="https://images.pathe-thuis.nl/32418_450x640.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Guardians_of_The_Galaxy"><img class="image image4" src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1676302257/amc-cdn/production/2/movies/62400/62358/PosterDynamic/149048.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Little_Mermaid"><img class="image image5" src="https://assets.voxcinemas.com/posters/P_HO00009455.jpg" width="250" height="375"></a>
    </div>

    <button class="move-aside" onclick="moveImagesAside()">←</button>

    <script>
        function moveImagesAside() {
            var image1 = document.querySelector('.image1');
            var image2 = document.querySelector('.image2');
            var image3 = document.querySelector('.image3');
            var image4 = document.querySelector('.image4');
            var image5 = document.querySelector('.image5');

            image1.style.transform = 'translateX(250px)';
            image2.style.transform = 'translateX(250px)';
            image3.style.transform = 'translateX(250px)';
            image4.style.transform = 'translateX(250px)';
            image5.style.transform = 'translateX(250px)';
        }
    </script>

    <button class="move-left" onclick="moveImagesleft()">→</button>

    <script>
        function moveImagesleft() {
            var image1 = document.querySelector('.image1');
            var image2 = document.querySelector('.image2');
            var image3 = document.querySelector('.image3');
            var image4 = document.querySelector('.image4');
            var image5 = document.querySelector('.image5');


            image1.style.transform = 'translateX(-250px)';
            image2.style.transform = 'translateX(-250px)';
            image3.style.transform = 'translateX(-250px)';
            image4.style.transform = 'translateX(-250px)';
            image5.style.transform = 'translateX(-250px)';
        }
    </script>
 
    <div id="cookies">
        <div class="containercookie">
            <div class="subcontainer">
                <div class="cookies">
                    <p>Deze website maakt gebruik van cookies voor uw beste ervaring <button id="cookies-button">Accepteer</button> </p>
                </div>
            </div>
        </div>
       
    </div>

    <script>
        setCookie = (cName, cValue, expDays) => {
            let date = new Date();
            date.setTime(date.getTime() + (expDays*24*60*60*1000));
            const expires = "expires=" + date.toUTCString();
            document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
        }

        getCookie = (cName) => {
            const name = cName + "=";
            const cDecoded = decodeURIComponent(document.cookie);
            const cArr = cDecoded.split("; ");
            let value;
            cArr.forEach(val => {
                if(val.indexOf(name) === 0) value = val.substring(name.length);
            })

            return value;
        }

        document.querySelector("#cookies-button").addEventListener("click", () => {
            document.querySelector("#cookies").style.display = "none";
            setCookie("cookie", true, 1);
        })

        cookieMessage = () => {
            if(!getCookie("cookie"))
            document.querySelector("#cookies").style.display = "block";
        }

        window.addEventListener("load", cookieMessage);
    </script>

</body>