<h3>404 Error</h3>

<h4>De opgevraagde pagina kon niet gevonden worden.</h4>

<div class="vierplaatje">
<img src="https://blog.fluidui.com/assets/images/posts/imageedit_1_9273372713.png" width="650" height="350">
</div>



<style>
h3 {
    text-align:center;
    font-size:50px;
}

h4 {
    text-align: center;
    font-size: 30px;
}

.vierplaatje {
    margin-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>