a {
    color:#E0B114;
}

a:hover {
    color:#C75910;
}


.containercookie {
    width: 900px;
    margin: auto;
    text-align: center;
}

.subcontainer {
    width: 85%;
    margin: auto;
    text-align: center;
}

#cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    z-index: 1;
    display: none;
    color: white;
    align-items: center;
    text-align: center;
}


#cookies-button {
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    border: 4px solid white;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
}

.cookies {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: grey;
    text-align: center;
    padding: 8px 12px 2px 12px;
    border: 7px solid white;
}

@media(max-width:1600px){
    .containercookie{
        width:100%;
    }
}

@media(max-width:1024px){
    .cookies{
        padding:10px 0;
    }
}


.rij {
    display: flex;
}

.kolom {
    flex: 33.33%;
    margin-top:75px;
    vertical-align:middle;
}

a {
    text-decoration: none;
    outline: none;
}

.titel {
    margin-bottom:35px;
    font-size:32px;
    text-align:center;
    width:100%;
}

text1 {
    text-align: center;
    font-size: 30px;
}

text2 {
    font-size: 22px;
}

/* Algemene stjil van de body-stukken van de website */
body {
    font-family: Copperplate, fantasy;
    font-size: 22px;
    line-height: 1.5;
    color: white;
    background-color: #B30E2A;
}

/* Style header and navigation bar */
.navbar-light .navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B30E2A;
    padding: 20px;
    color: white;
    font-size:30px;
}

/* De CSS code voor de input van de gebruiker (witte vlakken) */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; /* grijze randen */
    border-radius: 4px; /* ronde randen */
    box-sizing: border-box; /* padding zelfde plek */
    margin-top: 6px; /* margin bovenkant */
    margin-bottom: 16px; /* margin onderkant */
    resize: vertical; /* Tekstbalk is verticaal aanpasbaar */
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /* grijze randen */
    border-radius: 4px; /* ronde randen */
    box-sizing: border-box; /* padding zelfde plek */
    margin-top: 6px; /* margin bovenkant */
    margin-bottom: 16px; /* margin onderkant */
    resize: vertical; /* Tekstbalk is verticaal aanpasbaar */
}

/* CSS code voor de verzend knop (zoals kleur etc) */
input[type=submit] {
    background-color: #C75910;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* Andere kleurtint bij het 'hoveren' over de verzend-knop */
    input[type=submit]:hover {
        background-color: #E0B114;
    }

.container {
    border-radius: 5px;
    padding: 20px;
}

.buttonticket {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 90px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: #E0B114;
    font-size: 30px;
    border-radius: 10px;
}

.buttonticket:hover {
    background-color: #C75910;
}

.navbar-loose {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    list-style-type: none;
    font-family: "payrus", fantasy;
    color: black;
}



